{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 120,
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^@/theme",
    "^@/context",
    "^@/config",
    "^@/components",
    "^@/common",
    "^@/features",
    "^@/hooks$",
    "^@/context/(.*)$",
    "^@/components/(.*)$",
    "^@/features/(.*)$",
    "^@/models/(.*)$",
    "^@/routes/(.*)$",
    "^@/utils/(.*)$",
    "^@/assets/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
